* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
}

.navbar {
  background-color: #FCFCFC;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-left {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 40px;
}
.navbar .nav-left .logo img {
  width: 60px;
  height: 60px;
  margin-left: 50px;
}
.navbar .nav-left h2 {
  color: #FD9E04;
  margin-left: 20px;
  font-size: 20px;
}
.navbar .nav-right {
  width: 60%;
  display: flex;
  margin-left: 20px;
}
.navbar .nav-right ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.navbar .nav-right ul li {
  margin-right: 20px;
}
.navbar .nav-right ul li a {
  color: #08707F;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  font-size: 20px;
}
.navbar .nav-right ul li .active {
  color: #FD9E04;
}
.navbar .checkbtn {
  font-size: 30px;
  color: #08707F;
  cursor: pointer;
  display: none;
}
.navbar #check {
  display: none;
}

.group-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.group-card .card {
  width: 290px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #171D35;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, #171D35 0px 1px 3px -1px;
}
.group-card .card img {
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
}
.group-card .card h4 {
  width: 70%;
  text-align: center;
  margin-bottom: 50px;
}
.group-card .card p {
  width: 70%;
  font-size: 12px;
  text-align: center;
  color: #4A4A4A;
}

.buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.buttom .recommend {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.buttom img {
  width: 200px;
  height: 324px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.buttom h3 {
  color: #FD9E04;
}
.buttom p {
  width: 150px;
  font-size: 11px;
}
.buttom .text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
}
.buttom .text p {
  width: 160px;
  font-size: 14px;
  margin-top: 6px;
}
.buttom .text button {
  border-style: none;
  background: #c88c0b;
  color: white;
  height: 23px;
  width: 70px;
  border-radius: 20px;
  font-size: 10px;
  box-shadow: 0px 1px 2px 0px black;
}

footer {
  background-color: #171D35;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
footer .footer-left, footer .footer-conter, footer .footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-left h4, footer .footer-conter h4, footer .footer-right h4 {
  color: white;
  text-transform: uppercase;
}
footer .footer-left img, footer .footer-conter img, footer .footer-right img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.bg {
  height: 80vh;
}
.bg img {
  width: 100%;
  height: 80vh;
}

.header-section {
  margin-top: 50px;
}
.header-section h1 {
  color: #08707F;
  margin: 10px 0;
  font-size: 30px;
}
.group-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.header-section .group-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.header-section img {
  width: 300px;
  height: 200px;
}

header {
  background-image: url(../../images/home/bg.png);
  background-size: cover;
  height: 85vh;
}
header .content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7803921569) 30%, rgba(0, 0, 0, 0.0901960784) 100%, #000000 100%);
  height: 100%;
  padding: 150px 500px 100px 150px;
}
header .content h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
}
header .content h1 span {
  color: #FD9E04;
}
header .content p {
  color: white;
}

.header-bg {
  height: 80vh;
  background-image: url(../images/contact/image\ 136.png);
  background-size: cover;
}
.header-bg h1 {
  width: 20%;
  color: white;
  margin: 60px 80px;
  padding-top: 60px;
  font-size: 60px;
  text-align: center;
}

.container {
  display: flex;
  padding: 150px;
  height: 100vh;
}
.container .content {
  flex: 1;
}
.container .content h2 {
  color: #22BBEA;
  margin-bottom: 20px;
  font-size: 30px;
}
.container .content p {
  text-align: justify;
}
.container .icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .icon img {
  width: 470px;
  height: 450px;
}

.time-open {
  text-align: center;
  padding: 0 150px;
  height: 50vh;
}
.time-open h2 {
  color: #22BBEA;
  margin-bottom: 20px;
  font-size: 30px;
}
.time-open table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
}
.time-open table tr td {
  border: 1px solid;
  padding: 30px;
  text-align: left;
}
.time-open table tr td:nth-child(1) {
  border-left: none;
}
.time-open table tr td:nth-child(2) {
  border-right: none;
}

.donate {
  height: 100vh;
  padding: 0 150px;
}
.donate h2 {
  color: #22BBEA;
  margin-bottom: 20px;
  font-size: 30px;
}
.donate .form-container {
  height: 80vh;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  border: 1px solid #4A4A4A;
}
.donate .form-container form {
  border-radius: 20px;
  flex: 1;
  padding: 10px 40px;
}
.donate .form-container form h4 {
  margin-top: 20px;
}
.donate .form-container form .information {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.donate .form-container form .information input {
  padding: 8px 10px;
  width: 200px;
  background: rgba(158, 158, 158, 0.075);
  border: 1px solid rgb(182, 182, 182);
  width: 210px;
  background: #FCFCFC;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
}
.donate .form-container form .donate-information {
  margin-bottom: 10px;
}
.donate .form-container form .choie {
  display: flex;
  gap: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.donate .form-container form .choie input[type=radio] {
  margin-right: 10px;
}
.donate .form-container form .budget-pay {
  display: flex;
}
.donate .form-container form .budget-pay .left {
  flex: 5;
}
.donate .form-container form .budget-pay .left p {
  margin-bottom: 15px;
  font-size: 12;
}
.donate .form-container form .budget-pay .left span {
  font-size: 12;
}
.donate .form-container form .budget-pay .left .or {
  margin-left: 50px;
}
.donate .form-container form .budget-pay .right {
  flex: 0.5;
}
.donate .form-container form .budget-pay .right img {
  width: 60px;
  height: 60px;
}
.donate .form-container form .budget-pay .right span {
  font-size: 10px;
  color: #FD9E04;
}
.donate .form-container form .purpose {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.donate .form-container form .purpose textarea {
  color: rgb(146, 146, 146);
  background: rgba(158, 158, 158, 0.075);
  border: 1px solid gray;
  background: #FCFCFC;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  padding: 10px;
}
.donate .form-container form .submit {
  display: flex;
  justify-content: space-between;
}
.donate .form-container form .submit a {
  font-size: 12px;
}
.donate .form-container form .submit button {
  padding: 7px 12px;
  color: white;
  background-color: #FD9E04;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}
.donate .form-container .form-right {
  flex: 1.2;
  background-image: url(../../images/home/form.png);
  background-size: cover;
  padding: 0 80px 10px 20px;
  display: flex;
  align-items: flex-end;
  border-radius: 0 12px 12px 0;
}
.donate .form-container .form-right .content {
  background-color: #FD9E04;
  background-color: #22BBEA;
  padding: 20px;
}
.donate .form-container .form-right .content * {
  color: white;
}
.donate .form-container .form-right .content h4 {
  margin-bottom: 10px;
}
.donate .form-container .form-right .content p {
  font-size: 14px;
  text-align: justify;
}

label {
  font-size: 12px;
}

.location {
  background-image: url(../../images/home/bgMap.png);
}
.location .bg-contact {
  background-color: rgba(0, 0, 0, 0.699);
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 70vh;
}
.location .bg-contact * {
  color: white;
}
.location .bg-contact .map {
  border-radius: 15px;
  flex: 1;
}
.location .bg-contact .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1.2;
}
.location .bg-contact .contact * {
  text-align: center;
  margin-bottom: 25px;
}
.location .bg-contact .contact h1 {
  font-size: 50px;
}
.location .bg-contact .contact h1 span {
  color: #FD9E04;
}
.location .bg-contact .contact p {
  font-size: 20px;
}
.location .bg-contact .contact a {
  color: #22BBEA;
}/*# sourceMappingURL=main.css.map */