*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: auto;
}
@import "components/variable";
@import "mixins/groupmixin";
@import "components/navbar";
@import "components/card";
@import "components/footer";
@import "components/header";
@import "components/container";
@import "components/open-time";
@import "components/donate";
@import "components/location"
