.container{
    display: flex;
    padding:100px 150px ;
    height: 80vh;
    .content{
        flex: 1;
        h2{
            @include style-h2;
        }
        p{
            text-align: justify;
        }
    }
    .icon{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 370px;
            height: 300px;
        }
    }
}