.container{
    display: flex;
    gap: 50px;
    padding:100px 150px ;
    height: 80vh;
    .content{
        flex: 1;
        margin-right: 30px;
        h2{
            @include style-h2;
        }
        p{
            text-align: justify;
            margin-bottom: 60px;
        }
        span{
            font-size: 30px;
            color: $color-bd;
        }

    }
    .icon{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 370px;
            height: 300px;
        }
    }
}