.donate{
    height: 100vh;
    padding: 0 150px;
    h2{
        @include style-h2;
    }
    .form-container{
        height: 80vh;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 12px;
        // border: 1px solid $color-bd;
        form{
            border-radius: 20px;
            flex: 1;
            padding: 10px 40px;
            h4{
                margin-top: 15px;
                font-family: serif;
                font-weight: normal;
                font-size: 20px;
            }
            .information{
                display: flex;
                gap: 20px;
                margin-top: 10px;
                input{
                    padding: 8px 10px;
                    width: 200px;
                    background: $bg-input;
                    border: 1px solid $color-bd;
                    width: 210px;
                    background: $navbar;
                    border-radius: 5px;
                }
            }
            .donate-information{
                margin-bottom: 10px;
            }
            .choie{
                display: flex;
                gap: 60px;
                margin-top: 8px;
                margin-bottom: 20px;
                input[type="radio"]{
                    margin-right: 10px;
                }
                span{
                    font-size: 12px;
                }
            }
            .budget-pay{
                display: flex;
                .left{
                    flex: 5;
                    p{
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                    span{
                        font-size: 12px;
                    }
                    .or{
                        margin-left: 70px;
                        font-size: 14px;
                    }
                }
                .right{
                    flex: 0.5;
                    // margin-right: 110px;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                    span{
                        font-size: 10px;
                        color: $active;
                    }
                }
            }
            .purpose{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                textarea{
                    color: rgb(146, 146, 146);
                    background: $bg-input;
                    border: 1px solid $color-bd;
                    background: $navbar;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
            .submit{
                display: flex;
                justify-content: space-between;
                a{
                    font-size: 12px;
                }
                button{
                    padding: 7px 12px;
                    color: $footer-h4;
                    background-color: $active;
                    border: none;
                    border-radius: 5px;
                    font-size: 12px;
                }
            }
        }
        .form-right{
            flex: 1.2;
            background-image: url(../../images/home/form.png);
            background-size: cover;
            padding: 0 80px 10px 20px;
            display: flex;
            align-items: flex-end;
            border-radius: 0 12px 12px 0;
            .content{
                background-color: $active;
                // background-color: $color-h2;
                padding: 20px;
                *{
                    color: $footer-h4;
                }
                h4{
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    text-align: justify;
                }
                
            }
        }
    }
}
label{
    font-size: 12px;
}