footer {
    background-color: $bg-footer;
    height: 20vh;
    width: 100%;
    @include display-conter;
    justify-content: space-around;
  
    .footer-left, .footer-conter, .footer-right {
        @include display-conter;
    
        h4 {
            color: $footer-h4;
            text-transform: uppercase;
        }
    
        img {
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }
    }
  }