.location{
    background-image: url(../../images/home/bgMap.png);
    .bg-contact{
        *{
            color: $footer-h4;
        }
        background-color: $bg-loction;
        display: flex;
        padding: 20px;
        height: 70vh;
        .map{
            border-radius: 15px;
        }
    } 
}
