.location{
    background-image: url(../../images/home/bgMap.png);
    .bg-contact{
        *{
            color: $footer-h4;
        }
        background-color: $bg-loction;
        display: flex;
        gap: 20px;
        padding: 20px;
        height: 70vh;
        .map{
            border-radius: 15px;
            flex: 1;
        }
        .contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1.2;
            *{
                text-align: center;
                margin-bottom: 25px;
            }
            h1{
                font-size: 50px;
                span{
                    color: $active;
                }
            }
            p{
                font-size: 20px;
            }
            a{
                color: $color-h2;
                font-size: 20px;
            }
            
        }
    } 
}
