main {
    display: flex;
    flex-direction: column;
  
    .main-top {
        display: flex;
        flex-direction: column;
    
        h1 {
            color: $coor-link;
            padding-bottom: 10px;
            @include font-h;
        }
    }
    .main-bottom {
        margin-top: 70px;
    
        h1 {
            color: $coor-link;
            padding-bottom: 10px;
            @include font-h;
        }
    
        .main-contain {
            display: flex;
    
            .main-left-contain {
                p {
                    padding-bottom: 15px;
                    width: 95%;
                }
            }
        
            .main-right-contain {
                margin-right: 50px;
                img{
                    width: 300px;
                    height: 190px;
                    border-radius: 5px;
                }
            }
        }
    }
}  
