.time-open{
    text-align: center;
    padding: 0 150px;
    height: 50vh;
    h2{
        @include style-h2;
    }
    table{
        border-collapse: collapse;
        width: 60%;
        margin: auto;
        tr{
            td{
                border: 1px solid $color-h2;
                padding: 30px;
                text-align: left;
                color: $colore-p;
            }
            td:nth-child(1){
                border-left: none;
                padding-left: 90px;
            }
            td:nth-child(2){
                border-right: none; 
                color: rgb(156, 156, 156);
                font-weight: bold;
                padding-left: 80px;
                font-size: 20px;
            }
        }
    }
}
