$navbar:#FCFCFC;
$color-logo:#FD9E04;
$coor-link:#08707F;
$active:#FD9E04;
$bg-footer:#171D35;
$footer-h4:white;
$colore-p:#4A4A4A;
$color-h2:#22BBEA;
$bg-input:rgba(158, 158, 158, 0.075);
$color-bd:rgb(182, 182, 182);
$bg-loction:rgba(0, 0, 0, 0.699);
$color-bg: #ddf3f63b;
$color-main:#cdcdcd;
$coo-main: #414141;
$button:#c88c0b;
$color-head: #403B3B;