@mixin display-conter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin bg{
    height: 75vh;
    img{
        width: 100%;
        height: 70vh;}
}
@mixin font-h{

}
@mixin style-h2{
    color: $color-h2;
    margin-bottom: 20px;
    font-size: 30px;
}