*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    display: flex;
    flex-direction: column;
    height: auto;
}

@import "../components/variable";
@import "../mixins/groupmixin";
@import "../components/navbar";
@import "../components/card";
@import "../components/footer";
@import "../components/main";
@import "../components/header";
@import "../components/aside";
section {
  display: flex;
  flex-direction: column;
  margin: 20px 60px;
  padding: 20px 70px;

  .text-section {
    margin-bottom: 60px;

    h1 {
      color: $coor-link;
      padding-bottom: 10px;
      @include font-h;
    }
  }
}
