*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    display: flex;
    flex-direction: column;
    height: auto;
}
@import "../components/variable";
@import "../mixins/groupmixin";
@import "../components/navbar";
@import "../components/footer";
