*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@import "../components/variable";
@import "../mixins/groupmixin";
@import "../components/navbar";
@import "../components/card";
@import "../components/footer";
@import "../components/aside";
@import "../components/header";
@import "../components/topic";
@import "../components/header";
@import "../components/button";
@import "../mixins/contact-responsive";

body{
    display: flex;
    flex-direction: column;
    height: auto;
    section{
        display: flex;
        flex-direction: column;
        margin: 10px 80px;
        padding: 20px 100px 20px 100px;
    }
}


@media (min-width:768px) and (max-width:1024px){
    body{
        section{
            padding: 20px 10px;
        }
    }
}


@media (min-width:320px) and (max-width:800px) {
    body{
        section{
            padding: 10px 0px;
            margin: 50px;
        }
    }
}


