*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    display: flex;
    flex-direction: column;
    height: auto;
    section{
        display: flex;
        flex-direction: column;
        margin: 20px 60px;
        padding: 20px 60px;
        .type-book {
            @include display-conter;
            flex-direction: column
        }
    }
}

@import "../components/variable";
@import "../mixins/groupmixin";
@import "../components/navbar";
@import "../components/card";
@import "../components/footer";
@import "../components/aside";
@import "../components/topic";
@import "../components/header";
