*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    display: flex;
    flex-direction: column;
    height: auto;
}
section{
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    padding: 10px 30px;
}
@import "../components/variable";
@import "../mixins/groupmixin";
@import "../components/navbar";
@import "../components/card";
@import "../components/footer";
@import "../components/aside";
