* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px 60px;
  padding: 20px 60px;
}

.navbar {
  background-color: #FCFCFC;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-left {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 40px;
}
.navbar .nav-left .logo img {
  width: 60px;
  height: 60px;
  margin-left: 50px;
}
.navbar .nav-left h2 {
  color: #FD9E04;
  margin-left: 20px;
  font-size: 20px;
}
.navbar .nav-right {
  width: 60%;
  display: flex;
  margin-left: 20px;
}
.navbar .nav-right ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.navbar .nav-right ul li {
  margin-right: 20px;
}
.navbar .nav-right ul li a {
  color: #08707F;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  font-size: 20px;
}
.navbar .nav-right ul li .active {
  color: #FD9E04;
}
.navbar .checkbtn {
  font-size: 30px;
  color: #08707F;
  cursor: pointer;
  display: none;
}
.navbar #check {
  display: none;
}

.group-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.group-card .card {
  width: 290px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #171D35;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, #171D35 0px 1px 3px -1px;
}
.group-card .card img {
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
}
.group-card .card h4 {
  width: 70%;
  text-align: center;
  margin-bottom: 50px;
}
.group-card .card p {
  width: 70%;
  font-size: 12px;
  text-align: center;
  color: #4A4A4A;
}

.buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.buttom .recommend {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.buttom img {
  width: 200px;
  height: 324px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.buttom h3 {
  color: #FD9E04;
}
.buttom p {
  width: 150px;
  font-size: 11px;
}
.buttom .text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
}
.buttom .text p {
  width: 160px;
  font-size: 14px;
  margin-top: 6px;
}
.buttom .text button {
  border-style: none;
  background: #c88c0b;
  color: white;
  height: 23px;
  width: 70px;
  border-radius: 20px;
  font-size: 10px;
  box-shadow: 0px 1px 2px 0px black;
}

footer {
  background-color: #171D35;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
footer .footer-left, footer .footer-conter, footer .footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-left h4, footer .footer-conter h4, footer .footer-right h4 {
  color: white;
  text-transform: uppercase;
}
footer .footer-left img, footer .footer-conter img, footer .footer-right img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.aside-top,
.aside-bottom {
  margin-top: 55px;
}
.aside-top h1,
.aside-bottom h1 {
  color: #08707F;
  padding-bottom: 10px;
  font-size: 30px;
}
.aside-top h4,
.aside-bottom h4 {
  margin-bottom: 15px;
}

.aside-bottom {
  margin-top: 70px;
}

.aside-contain {
  display: flex;
}
.aside-contain .aside-left-contain p {
  padding-bottom: 15px;
  width: 95%;
  color: #4A4A4A;
}
.aside-contain .aside-right-contain img {
  width: 400px;
  height: 280px;
}

.top-recommend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgba(221, 243, 246, 0.231372549);
  height: 90vh;
  margin-bottom: 50px;
}
.top-recommend .history {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-recommend .history img {
  width: 320px;
  height: 450px;
}
.top-recommend .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 90vh;
  padding: 0px 50px 0px 50px;
  gap: 6px;
}
.top-recommend .content h3 {
  width: 400px;
  padding: 40px 0 10px 0;
  color: #403B3B;
}
.top-recommend .content p {
  font-size: 15px;
  color: #414141;
}
.top-recommend .content img {
  width: 100px;
  height: 28px;
  margin: 8px;
}
.top-recommend .content #sid {
  font-size: 18px;
  width: 330px;
}
.top-recommend .content .review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  gap: 26px;
}
.top-recommend .content .review img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.top-recommend .content .review #re-1 {
  position: relative;
  right: 50px;
}
.top-recommend .content .review #re-2 {
  position: relative;
  right: 100px;
}
.top-recommend .content .review p {
  font-size: 14px;
  color: #c88c0b;
  position: relative;
  right: 100px;
}
.top-recommend .content .review button {
  border-style: none;
  background: #c88c0b;
  color: white;
  height: 23px;
  width: 70px;
  border-radius: 20px;
  font-size: 10px;
  box-shadow: 0px 1px 2px 0px black;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cdcdcd;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
}
.main-content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #414141;
}/*# sourceMappingURL=contact.css.map */